<app-dynamic-shell></app-dynamic-shell>
<button mat-button (click)="loadWidgetOne()">Widget One</button>
<button mat-button (click)="loadWidgetTwo()">Widget Two</button>

<app-dynamic-container [componentDef]="componentDef"></app-dynamic-container>
<br />
<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Api Solution Starter</span>
    <div>
        <a mat-button [routerLink]="'/about'"> About </a>
        <a mat-button [routerLink]="'/test'"> Test Module </a>
        <a mat-button [routerLink]="'/todo-list'"> Todo Module </a>
        <a mat-button [routerLink]="'/dev'"> Dev Component </a>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>

