################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiBackend/bin/
/WebApiBackend/obj/
/.vs/
*.dll
/MinimalWebApi/bin/Debug/net6.0
/MinimalWebApi
