################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApiBackend/bin/
/WebApiBackend/obj/
/.vs/Angular_Webapi_Solution/DesignTimeBuild
/.vs/Angular_Webapi_Solution/FileContentIndex
*.v1
/.vs/Angular_Webapi_Solution/v17/.suo
/.vs/ProjectEvaluation
/.vs/Angular_Webapi_Solution/v17
