<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Angular Api Solution Starter</span>
        <div fxLayout *ngFor="let item of navList">
            <a mat-button> {{item}} </a>
        </div>
        <span class="example-spacer"></span>
        <button mat-icon-button aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
