<div class="container">
    <h1>Update Todo Item</h1>

    <a href="#" routerLink="/todo-list/index" class="btn btn-primary">Back</a>

    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <label for="id">Id:</label>{{todo.id}}
            <!--<input formControlName="id" id="id" name="id" [ngModel]="todo.id" />-->
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input formControlName="name"
                   id="name"
                   type="text"
                   [(ngModel)]="todo.name"
                   class="form-control">
            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="isComplete">Is Complete</label>
            <input formControlName="isComplete"
                      id="isComplete"
                      type="checkbox"
                      [(ngModel)]="todo.isComplete"
                      class="form-control"/>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Update</button>
    </form>
</div>
