<mat-toolbar color="accent">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    <span>Todo List Module</span>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'./index'">Index</a>
            <a mat-list-item [routerLink]="'./add'">Create</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 88vh;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
