<div class="container">
    <h1>Angular CRUD Example</h1>

    <a href="#" routerLink="../add" class="btn btn-success">Create New Todo</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Is Complete</th>
                <th width="250px">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of todos">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td><input type="checkbox" [checked]="item.isComplete" /></td>
                <td>
                    <a href="#" [routerLink]="['../view', item.id]" class="btn btn-info">View</a>
                    <a href="#" [routerLink]="['../edit', item.id]" class="btn btn-primary">Edit</a>
                    <button type="button" (click)="delete(item.id)" class="btn btn-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
